<<<<<<< HEAD
/* .graphic_service{
=======
.graphic_service{
>>>>>>> a4c435fb785b8c080a6acb09be218c51e319f115
    width: 18%;
    min-height: 100px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 10px;
    margin:20px 10px;
}

.graphic_service>img{
    height: auto;
    width: 100%;
}
.graphic_service>h3{
    margin-top: 10px;
    font-size: 20px;
<<<<<<< HEAD
} */

/* .serviceList{
    padding: 50px;
    display: flex;
    justify-content: flex-start;
} */
=======
}

.serviceList{
    padding: 50px;
    display: flex;
    justify-content: flex-start;
}
>>>>>>> a4c435fb785b8c080a6acb09be218c51e319f115
