@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Montserrat', sans-serif!important;
}

/* /first section css/ */
.Instaquirk {
    display: inline-block;
    color: #ffff!important;
    font-weight: 400;
    font-size: 18px !important;
    margin-bottom: 20px !important;
    background: none !important;
    font-family: 'Montserrat' !important;
}
.about-ours p {
    color: #FFF!important;
    font-size: 19px;
    line-height: 32px;
}
a.z-btn.z-btn-transparent {
    border: 2px solid white;
    color: #FFF;
}

a.z-btn.z-btn-transparent:hover{
    color: #001ec8 !important;
}
/* //first section banner text/ */
.slider__content.slider__content-2.slider__content-4 h1 {
    font-family: 'Montserrat' !important;
    font-size: 50px !important;
    text-transform: capitalize !important;
    line-height: 69px !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}
.slider__content.slider__content-2 h1 {
    font-family: 'Montserrat' !important;
    font-size: 50px !important;
    text-transform: capitalize !important;
    line-height: 69px !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}

section.slider__area.slider__area-2 p {
    font-family: "Montserrat" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0.8 !important;
    margin-bottom: 30px !important;
}
a.z-btn.z-btn-transparent {
    border: 2px solid white;
    color: #FFF;
    font-weight: 500 !important;
}
/* //responsive mobile logo showing/ */
.customize-logo img {
    width: 146px !important;
    object-fit: cover;
}
/* second section css */
.section__title-h2 span {
    margin-bottom: 20px;
    font-family: 'Montserrat' !important;
}

.section__title h2 {
    font-size: 44px !important;
    font-weight: 800 !important;
    line-height: 1.5 !important;
    text-transform: capitalize !important;
    font-family: 'Montserrat';
}

.features__content-left p {
    margin-bottom: 50px !important;
    line-height: 30px !important;
    font-size: 14px !important;
    font-family: 'Montserrat';
    text-transform: inherit;
    color: #000000;
    font-weight: 400;
}

.features__content-2 h3 {
    font-size: 18px !important;
    font-family: 'Montserrat' !important;
    font-weight: 800 !important;
}

.features__content-2 p {
    margin-bottom: 25px !important;
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
    color: black ;
    font-weight: 500 !important;
}

.section__title-3 h2 {
    font-size: 45px !important;
}
/* 3rd section */
.section__title-3 span {
    margin-bottom: 15px !important;
    font-family: 'Montserrat' !important;
}

.section__title-3 h2 {
    font-size: 43px !important;
    font-family: 'Montserrat' !important;
    text-transform: none !important;
}

.faq__accordion .btn-link {
    position: relative;
    padding: 15px 23px;
    padding-right: 40px;
    width: 100%;
    text-align: left;
    font-size: 16px !important;
    color: #4636ff;
    font-weight: 700 !important;
    text-decoration: none;
    border: none;
    background: #ffffff;
    border-radius: 10px;
    font-family: 'Montserrat' !important;}

button.btn.btn-link.collapsed {
    font-family: 'Montserrat' !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.faq__accordion .card-body p {
    line-height: 30px !important;
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
    margin-top: 10px !important;
}
/* achievement  css*/
.achievement__thumb.m-img.pl-30.text-right img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    border-radius: 10px;
}

.achievement__thumb.w-img img {
    height: 72vh;
    width: 100%;
    object-fit: cover !important;
    border-radius: 10px;
    margin-top: 80px;
}

.achievement__item h3 {
    font-size: 17px !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    line-height: 30px !important;
}

.achievement__item h3 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}

.achievement__item.mb-30 img {
    height: 60px;
}
/* expert section css */
.expart__tab-content h3 {
    font-size: 32px !important;
    margin-bottom: 26px !important;
    line-height: 55px !important;
    font-family: 'Montserrat';
}

.expart__tab-content p {
    margin-bottom: 36px;
    font-size: 15px;
    line-height: 31px;
}

.expart__tab {
    box-shadow: 0px 30px 40px 0px rgba(2, 0, 40, 0.1);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 200px !important;
}

.expart__tab-content p {
    margin-bottom: 40px;
    font-family: "Montserrat";
}
.customize-logo img {
    width: 150px !important;
}
.logo.mb-40 img {
    width: 150px !important;
}

/* //drop down menu work/ */
/*  DropDown Menu CSS  */
ul.drop-down-menu li{
    position: relative;
}
ul.drop-down-menu li ul {
    position: absolute;
    width: 150px;
    left: 0;
    top: 160%;
    background: white;
    list-style: none;
    padding: 22px 23px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}
ul.drop-down-menu li ul li{
    flex-direction: column;
}
ul.drop-down-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 102%;
}

.dropdown-item {
    padding: 4px 0 !important;
    padding-bottom: 0px !important;
    color: black !important;
    transition: .3s ease-in-out;
}
.dropdown-item:hover{
    color: #001ec8 !important;
}
.main-menu ul li a {
    background: none !important;
}

.main-menu ul li a {
    background: none !important;
    margin-bottom: 6px;
}

.footer__widget-title h4 {
    font-size: 24px;
    font-weight: 700 !important;
    margin-bottom: 25px;
    font-family: 'Montserrat' !important;
}

.page__title-content.mt-100.about-us {
    margin: 0 82px;
    font-family: 'Montserrat';
}

/* .page__title-content.mt-100 {
    text-align: center !important
}

.page__title-content.mt-100 h2 {
    font-family: "Montserrat" !important;
    font-size: 68px !important;
}

.page__title-content p {
    width: 80% !important;
    margin: 0 auto !important;
    padding: 15px 0 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 35px !important;
    font-family: 'Montserrat' !important;
    padding-bottom: 80px !important
} */
/* ///  about section css*/
.about__thumb.m-img img {
    height: 100vh !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px !important;
}
.section__title span {
    font-size: 18px;
    color: #4636ff;
    display: inline-block;
    font-weight: 700;
    font-family: 'Montserrat' !important;
    margin-bottom: 25px;
}
.about__content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    font-family: 'Montserrat' !important;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 50px 0;
}

.about___more h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 6px !important;
}
span.about_id {
    margin-right: 12px;
}

.about___more {
    margin: 10px !important;
}
p.about__describe{
        font-size: 15px !important;
        line-height: 23px !important;
        margin-bottom: 40px !important;
        margin-top: 25px !important;
        color: black  !important;
}
.about-more-img img {
    height: 120vh !important;
    border-radius: 10px;
    object-fit: cover;
}
.about-more-img{
    text-align: center;
}
.achievement__content p {
    margin-bottom: 50px;
    line-height: 30px;
    font-family: 'Montserrat' !important;
    font-size: 17px;
    padding-top: 16px !important;
    padding-bottom: 20px !important;
}
.page__title-content h2 {
    font-size: 52px !important;
    color: #ffffff;
    font-family: 'Montserrat';
}

.web-development img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.web-dev {
    padding-right: 100px;
    padding-left: 100px;
}


.technologies h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 56px;
    line-height: 79px;
    font-weight: 800;
    margin-bottom: 41px !important;
    padding-bottom: 40px;
}
.web-development-life-cycle h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 56px;
    line-height: 79px;
    font-weight: 800;
    margin-bottom: 30px !important;
}
.web-development-details h1  {
    font-family: 'Montserrat';
    font-size: 56px;
    line-height: 79px;
    font-weight: 800;
    margin-bottom: 30px !important;
}
.graphics__work h1  {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 56px;
    line-height: 79px;
    font-weight: 800;
    margin-bottom: 80px !important;
}

.web-development {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.web-development-details p {
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    font-weight: 500;
    line-height: 27px;
}
.tech_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.web-development-details p {
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    font-weight: 400;
}



.tech_item img {
    height: 90px;
    margin-bottom: 21px;
}
.tech_items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    margin: 46px;
}
.tech_item h4 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 40px;
}


.web-development-life-cycle img {
    height: 100% !important;
    width: 100%;
    margin: 100px 0 !important;
    margin-bottom: 100px !important;
}
.development-image {
    margin: 0 100px !important;
}

/* graphics design */
.graphics_design {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
}

.graphics-photo img {
    width: 400px !important;
    height: 400px;
    object-fit: cover;
}

.graphics-photo img {
    width: 400px !important;
    height: 400px !important;
    object-fit: cover;
    margin: 14px;
}

@media only screen and (max-width: 990px)  {
    .single-slider.single-slider-2.slider__height.slider__height-2.d-flex.align-items-center {
        padding: 180px 0 !important;
    }
    .development-image {
        width: 95% !important;
        margin: 0 auto;
    }
p.about__describe{
        font-size: 15px !important;
        line-height: 23px !important;
        margin-bottom: 40px !important;
        margin-top: 25px !important;
        color: black  !important;
}
.parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 50px 0;
}
.about-more-img img {
    height: 100vh !important;
    border-radius: 10px;
    object-fit: cover;
}
.section__title span {
    font-size: 16px !important
    ;}

    .section__title h2 {
        font-size: 36px !important;
        font-weight: 800 !important;
        line-height: 1.5 !important;
        text-transform: capitalize !important;
        font-family: 'Montserrat';
    }

    .page__title-content.mt-100.about-us {
        margin: 0 50px;
        font-family: 'Montserrat';
    }
    .about-all-section {
        overflow-x: hidden !important;
    }
    .web-dev {
        padding-right: 10px;
        padding-left: 10px;
    }

    .tech_items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 0px;
        margin: 20px;
    }
    .tech_item {
        text-align: center !important;
    }

    .tech_item img {
        width: 100% !important;
        height: none !important;
        object-fit: contain;
        margin-bottom: 10px !important;
    }
    .page__title-content h2 {
        font-size: 41px !important;
        margin-bottom: 28px;
        margin-top: 100px;
    }
    .web-development-life-cycle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin-bottom: 200px !important;
    }
}