@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Montserrat', sans-serif!important;
}

/* /first section css/ */
.Instaquirk {
    display: inline-block;
    color: #ffff!important;
    font-weight: 400;
    font-size: 18px !important;
    margin-bottom: 20px !important;
    background: none !important;
    font-family: 'Montserrat' !important;
}
.about-ours p {
    color: #FFF!important;
    font-size: 19px;
    line-height: 32px;
}
a.z-btn.z-btn-transparent {
    border: 2px solid white;
    color: #FFF;
}

a.z-btn.z-btn-transparent:hover{
    color: #001ec8 !important;
}
/* //first section banner text/ */
.slider__content.slider__content-2.slider__content-4 h1 {
    font-family: 'Montserrat' !important;
    font-size: 50px !important;
    text-transform: capitalize !important;
    line-height: 69px !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}
.slider__content.slider__content-2 h1 {
    font-family: 'Montserrat' !important;
    font-size: 50px !important;
    text-transform: capitalize !important;
    line-height: 69px !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}

section.slider__area.slider__area-2 p {
    font-family: "Montserrat" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0.8 !important;
    margin-bottom: 30px !important;
}
a.z-btn.z-btn-transparent {
    border: 2px solid white;
    color: #FFF;
    font-weight: 500 !important;
}
/* //responsive mobile logo showing/ */
.customize-logo img {
    width: 146px !important;
    object-fit: cover;
}
/* second section css */
.section__title-h2 span {
    margin-bottom: 20px;
    font-family: 'Montserrat' !important;
}

.section__title h2 {
    font-size: 44px !important;
    font-weight: 800 !important;
    line-height: 1.5 !important;
    text-transform: capitalize !important;
    font-family: 'Montserrat';
}

.features__content-left p {
    margin-bottom: 50px !important;
    line-height: 30px !important;
    font-size: 14px !important;
    font-family: 'Montserrat';
    text-transform: inherit;
    color: #000000;
    font-weight: 400;
}

.features__content-2 h3 {
    font-size: 18px !important;
    font-family: 'Montserrat' !important;
    font-weight: 800 !important;
}

.features__content-2 p {
    margin-bottom: 25px !important;
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
    color: black ;
    font-weight: 500 !important;
}

.section__title-3 h2 {
    font-size: 45px !important;
}
/* 3rd section */
.section__title-3 span {
    margin-bottom: 15px !important;
    font-family: 'Montserrat' !important;
}

.section__title-3 h2 {
    font-size: 43px !important;
    font-family: 'Montserrat' !important;
    text-transform: none !important;
}

.faq__accordion .btn-link {
    position: relative;
    padding: 15px 23px;
    padding-right: 40px;
    width: 100%;
    text-align: left;
    font-size: 16px !important;
    color: #4636ff;
    font-weight: 700 !important;
    text-decoration: none;
    border: none;
    background: #ffffff;
    border-radius: 10px;
    font-family: 'Montserrat' !important;}

button.btn.btn-link.collapsed {
    font-family: 'Montserrat' !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.faq__accordion .card-body p {
    line-height: 30px !important;
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
    margin-top: 10px !important;
}
/* achievement  css*/
.achievement__thumb.m-img.pl-30.text-right img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    border-radius: 10px;
}

.achievement__thumb.w-img img {
    height: 72vh;
    width: 100%;
    object-fit: cover !important;
    border-radius: 10px;
    margin-top: 80px;
}

.achievement__item h3 {
    font-size: 17px !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    line-height: 30px !important;
}

.achievement__item h3 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}

.achievement__item.mb-30 img {
    height: 60px;
}
/* expert section css */
.expart__tab-content h3 {
    font-size: 32px !important;
    margin-bottom: 26px !important;
    line-height: 55px !important;
    font-family: 'Montserrat';
}

.expart__tab-content p {
    margin-bottom: 36px;
    font-size: 15px;
    line-height: 31px;
}

.expart__tab {
    box-shadow: 0px 30px 40px 0px rgba(2, 0, 40, 0.1);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 200px !important;
}

.expart__tab-content p {
    margin-bottom: 40px;
    font-family: "Montserrat";
}
.customize-logo img {
    width: 150px !important;
}
.logo.mb-40 img {
    width: 150px !important;
}

/* //drop down menu work/ */
/*  DropDown Menu CSS  */
ul.drop-down-menu li{
    position: relative;
}
ul.drop-down-menu li ul {
    position: absolute;
    width: 138px;
    left: 0;
    top: 160%;
    background: white;
    list-style: none;
    padding: 22px 23px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    border-radius: 5px;
}
ul.drop-down-menu li ul li{
    flex-direction: column;
}
ul.drop-down-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 102%;
}

.dropdown-item {
    padding: 4px 0 !important;
    padding-bottom: 0px !important;
    color: black !important;
    transition: .3s ease-in-out;
}
.dropdown-item:hover{
    color: #001ec8 !important;
}
.main-menu ul li a {
    background: none !important;
}

.main-menu ul li a {
    background: none !important;
    margin-bottom: 6px;
}

.footer__widget-title h4 {
    font-size: 24px;
    font-weight: 700 !important;
    margin-bottom: 25px;
    font-family: 'Montserrat' !important;
}