@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../public/assets/scss/main";


.logo{
    img{
        width: 50px !important;
        height: 50px !important;
    }
}
.logo-gradient{
    img{
        width: 50px !important;
        height: 50px !important;
    }
}



